Name: CIS453_Group_05
Assignment: Requirements Analysis and Modeling - Group Project
Date Submitted: Sunday, October 15, 2023 9:58:06 PM EDT
Current Grade: Needs Grading

Submission Field:
There is no student submission text data for this assignment.

Comments:
There are no student comments for this assignment.

Files:
	Original filename: Requirements Analysis and Modeling.pdf
	Filename: Requirements Analysis and Modeling - Group Project_CIS453_Group_05_attempt_2023-10-15-21-58-06_Requirements Analysis and Modeling.pdf

