Name: CIS453_Group_07
Assignment: Requirements Analysis and Modeling - Group Project
Date Submitted: Sunday, October 15, 2023 10:12:25 PM EDT
Current Grade: Needs Grading

Submission Field:
There is no student submission text data for this assignment.

Comments:
please use this submission as it is a word document and the other was a pdf! thank you.

Files:
	Original filename: Group 7 Requirement Analysis and Modeling .docx
	Filename: Requirements Analysis and Modeling - Group Project_CIS453_Group_07_attempt_2023-10-15-22-12-25_Group 7 Requirement Analysis and Modeling .docx

