Name: CIS453_Group_08
Assignment: Requirements Analysis and Modeling - Group Project
Date Submitted: Sunday, October 15, 2023 9:59:24 PM EDT
Current Grade: Needs Grading

Submission Field:
There is no student submission text data for this assignment.

Comments:
There are no student comments for this assignment.

Files:
	Original filename: CIS453_Group_8_Project_SRS.pdf
	Filename: Requirements Analysis and Modeling - Group Project_CIS453_Group_08_attempt_2023-10-15-21-59-24_CIS453_Group_8_Project_SRS.pdf

	Original filename: CIS453_Group_8_Project_SRS.docx
	Filename: Requirements Analysis and Modeling - Group Project_CIS453_Group_08_attempt_2023-10-15-21-59-24_CIS453_Group_8_Project_SRS.docx

