Name: CIS453_Group_04
Assignment: Requirements Analysis and Modeling - Group Project
Date Submitted: Sunday, October 15, 2023 9:33:42 PM EDT
Current Grade: Needs Grading

Submission Field:
There is no student submission text data for this assignment.

Comments:
There are no student comments for this assignment.

Files:
	Original filename: CIS 453 - Team Google Doc .docx
	Filename: Requirements Analysis and Modeling - Group Project_CIS453_Group_04_attempt_2023-10-15-21-33-42_CIS 453 - Team Google Doc .docx

