Name: CIS453_Group_01
Assignment: Requirements Analysis and Modeling - Group Project
Date Submitted: Monday, October 16, 2023 1:15:22 AM EDT
Current Grade: Needs Grading

Submission Field:
There is no student submission text data for this assignment.

Comments:
There are no student comments for this assignment.

Files:
	Original filename: CIS 353 Group 1 Project.pdf
	Filename: Requirements Analysis and Modeling - Group Project_CIS453_Group_01_attempt_2023-10-16-01-15-22_CIS 353 Group 1 Project.pdf

